.centralDiv{
    width: 50vw;
    height: 30vh;
    padding: 0;
    display: inline-block;
    width: 100%;
    font-size: 150%;
    display: block;
    text-align: center;
}
.quickLine{
    color: white;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    text-align: center;
    padding: 8vh 0;
}
.picOfMe{
    min-width: 180px;
    max-width: 300px;
    width: 40%;
    border-radius: 50%;
    margin: 10px auto;
    display: block
}
.picAndBioHome{
    width: 100%;
    height: 97vh;
    background-color: #2f2f2f;
}
.quickBio{
    color: white;
}
.quickBioBody{
    margin: 0 auto;
}
.quickBioName{
    font-weight: bold;
    display: block;
    color: white;
    font-size: 160%;
    text-align: center;
}
.quickBioInfo{
    display: block;
    color: white;
    text-align: center    
}

@media screen and (max-width: 1300px) 
{
    .quickLine{
        font-size: 100%; 
    }
}
@media screen and (max-width: 720px) 
{
    .quickLine{
        font-size: 60%; 
    }
    .quickBioName{
        font-size: 80%;
    }
    .quickBioInfo{
        font-size: 60%;
    }
}